.section-wrapper {
    position: relative;
    height: 100%;
}

.contact-div {
    position: absolute;
    z-index: 25;
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    left: 86%;
    top: 6%;
    letter-spacing: -0.03px;
    cursor: pointer;
}

.contact-div a {
    text-decoration: none;
    color: white;
}
