.section-1-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-1-inner {
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    z-index: 25;
}

.heading-container {
    margin-left: 85px;
}

.image-circle {
    position: relative;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    margin-left: auto;
    margin-right: 79px;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-circle::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-circle:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    z-index: 10;
}

.image-circle:hover::after {
    opacity: 1;
}

.baseline-img {
    width: 111px;
}
