.section-2-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-2-inner {
    opacity: 1;
    position: relative;
    margin-top: 150px;
    z-index: 25;
}

.section-2-heading {
    opacity: 0;
    font-family: 'Playfair Display', serif;
    color: #868383;
    letter-spacing: 3px;
    font-size: 95px;
    width: 60%;
    margin: 0 auto 0 90px;
}

.animated {
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: all;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp25 {
    -webkit-animation-name: fadeInUp25;
    animation-name: fadeInUp25;
}

@keyframes fadeInUp25 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,25%,0);
        transform: translate3d(0,25%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.notify-me-button {
    opacity: 0;
    margin-left: auto;
    margin-right: 156px;
    background-color: white;
    border: 1px solid #979797;
    width: 345px;
    height: 80px;
    border-radius: 54px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 3.26px;
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.notify-me-button::after {
    content: '';
    border-radius: 54px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.notify-me-button:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    z-index: 10;
}

.notify-me-button:hover::after {
    opacity: 1;
}

.fadeInUp60 {
    -webkit-animation-name: fadeInUp60;
    animation-name: fadeInUp60;
}

@keyframes fadeInUp60 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,60%,0);
        transform: translate3d(0,60%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


